# Homework with Yelp reviews data

## Introduction

This assignment uses a small subset of the data from Kaggle's [Yelp Business Rating Prediction](https://www.kaggle.com/c/yelp-recsys-2013) competition.

**Description of the data:**

- **`yelp.csv`** contains the dataset. It is stored in the course repository (in the **`data`** directory), so there is no need to download anything from the Kaggle website.
- Each observation (row) in this dataset is a review of a particular business by a particular user.
- The **stars** column is the number of stars (1 through 5) assigned by the reviewer to the business. (Higher stars is better.) In other words, it is the rating of the business by the person who wrote the review.
- The **text** column is the text of the review.

**Goal:** Predict the star rating of a review using **only** the review text.

**Tip:** After each task, I recommend that you check the shape and the contents of your objects, to confirm that they match your expectations.

## Task 1

Read **`yelp.csv`** into a Pandas DataFrame and examine it.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/yelp.csv')

In [4]:
data.shape

(10000, 10)

In [5]:
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

## Task 2

Create a new DataFrame that only contains the **5-star** and **1-star** reviews.

- **Hint:** [How do I apply multiple filter criteria to a pandas DataFrame?](https://www.youtube.com/watch?v=YPItfQ87qjM&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=9) explains how to do this.

In [8]:
df1 = data[(data.stars == 5) | (data.stars == 1)]
df1.sample(10, random_state=6)

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
4920,ZAd2hniecnqH00t01ODQ3w,2012-10-15,EABMAdFptkWwSv1mOkYZGw,5,Costco Travel - My husband and I recently retu...,review,CUIX6FcoHYQvsijPNTAwrw,0,0,0
4667,9NT8Ne1DICkv0ebX-gVK5g,2011-04-01,KeKYdgf1gZmF1etC43-Tqg,5,best in the valley,review,jIHaXo4-KR9kvh2J7eMkIA,0,3,2
9256,WIDZSGjX4GGKIp1nZoHepg,2011-02-28,5yqrmHhUQzb_d22HrslTHA,5,I can't say enough wonderful things about this...,review,XpSZrY_Ym8GGx7SNEd0q9g,0,0,0
2718,uVMKdpleBePeFKjixU6AMQ,2012-07-15,uu2Uffx5eTd_7UJ9Jo-uqQ,5,"For so many reasons, Costco is top notch but I...",review,ANTrWPSoOqbXkvLvxes-aA,0,1,0
8148,-dz2h55a0SdnBJEXQm9CAQ,2012-08-01,mDDw5KvbJbkMWEUsrKy37A,5,Let me preface this story with the fact that i...,review,6prHhofQ3sLSNHJRYUat-Q,0,0,0
8211,oJpmYvLibGrYPDvcaUeMOw,2010-03-28,799y4miwZfz65itVhHoImQ,5,We drove in from LA for spring training. Had ...,review,7PNLpIGi7OZzWcbdfu8alw,0,0,0
2243,CqhsIZ7TzCfJTrZqg5-gqQ,2010-05-19,bZ8oV8K8DJFaQSl5xe9ALg,5,One of favorite happy hour places in town. If ...,review,vUn91MER1jV-jT4crd3pOg,0,0,0
1636,SvhXjMn91ODnzkjjZY7j6A,2012-09-07,hRVojRPSshD7h3VYdv_HpA,5,I don't know what I would do if this store eve...,review,cHnlIFP5WwJRer7_C2NUng,0,0,0
8642,OOCLVeqqMFfSnKa7liv0Kw,2011-10-20,o1Q0IMCgEI4P13SWiZUXrQ,1,Decided to give Tempe Marketplace another try ...,review,LX3cTVaS8f2UF0Uuafsfug,0,0,2
7056,hyff2JyqQgf85MaJZslHCg,2012-02-23,r1NrDLqFDKmaxVy70VoeMA,1,This place was horrible! I will never go back ...,review,pvdXGtu6sAPDJiCIhfVBDQ,0,1,1

In [9]:
df1.shape

(4086, 10)

## Task 3

Define X and y from the new DataFrame, and then split X and y into training and testing sets, using the **review text** as the only feature and the **star rating** as the response.

- **Hint:** Keep in mind that X should be a Pandas Series (not a DataFrame), since we will pass it to CountVectorizer in the task that follows.

In [11]:
X = df1.text
y = df1.stars

In [13]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [14]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(3064,)
(1022,)
(3064,)
(1022,)

## Task 4

Use CountVectorizer to create **document-term matrices** from X_train and X_test.

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
vect = CountVectorizer()

In [18]:
X_train_dtm = vect.fit_transform(X_train)
X_train_dtm.shape

(3064, 16825)

In [19]:
X_test_dtm = vect.transform(X_test)
X_test_dtm.shape

(1022, 16825)

## Task 5

Use Multinomial Naive Bayes to **predict the star rating** for the reviews in the testing set, and then **calculate the accuracy** and **print the confusion matrix**.

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains how to interpret both classification accuracy and the confusion matrix.

In [21]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [22]:
%time nb.fit(X_train_dtm, y_train)

CPU times: user 6.36 ms, sys: 1.53 ms, total: 7.89 ms
Wall time: 7.41 ms

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [23]:
y_pred_class = nb.predict(X_test_dtm)

In [24]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred_class)

0.91878669275929548

In [25]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[126,  58],
       [ 25, 813]])

## Task 6 (Challenge)

Calculate the **null accuracy**, which is the classification accuracy that could be achieved by always predicting the most frequent class.

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains null accuracy and demonstrates two ways to calculate it, though only one of those ways will work in this case. Alternatively, you can come up with your own method to calculate null accuracy!

In [26]:
y_test.value_counts()

5    838
1    184
dtype: int64

In [30]:
y_test.value_counts().head(1)/y_test.shape

5    0.819961
dtype: float64

## Task 7 (Challenge)

Browse through the review text of some of the **false positives** and **false negatives**. Based on your knowledge of how Naive Bayes works, do you have any ideas about why the model is incorrectly classifying these reviews?

- **Hint:** [Evaluating a classification model](https://github.com/justmarkham/scikit-learn-videos/blob/master/09_classification_metrics.ipynb) explains the definitions of "false positives" and "false negatives".
- **Hint:** Think about what a false positive means in this context, and what a false negative means in this context. What has scikit-learn defined as the "positive class"?

In [34]:
X_test[y_test < y_pred_class][:10]

2175    This has to be the worst restaurant in terms o...
1781    If you like the stuck up Scottsdale vibe this ...
2674    I'm sorry to be what seems to be the lone one ...
9984    Went last night to Whore Foods to get basics t...
3392    I found Lisa G's while driving through phoenix...
8283    Don't know where I should start. Grand opening...
2765    Went last week, and ordered a dozen variety. I...
2839    Never Again,\nI brought my Mountain Bike in (w...
321     My wife and I live around the corner, hadn't e...
1919                                         D-scust-ing.
Name: text, dtype: object

In [36]:
X_test[1781]

"If you like the stuck up Scottsdale vibe this is a good place for you. The food isn't impressive. Nice outdoor seating."

In [37]:
X_test[y_test > y_pred_class][:10]

7148    I now consider myself an Arizonian. If you dri...
4963    This is by far my favourite department store, ...
6318    Since I have ranted recently on poor customer ...
380     This is a must try for any Mani Pedi fan. I us...
5565    I`ve had work done by this shop a few times th...
3448    I was there last week with my sisters and whil...
6050    I went to sears today to check on a layaway th...
2504    I've passed by prestige nails in walmart 100s ...
2475    This place is so great! I am a nanny and had t...
241     I was sad to come back to lai lai's and they n...
Name: text, dtype: object

In [38]:
X_test[241]

"I was sad to come back to lai lai's and they no longer had the Mongolian :( boo,, but i took my mom there and we were starving so we decided to order off the menu. My mom is allergic to  msg and they helped us with what we should order. and she didn't get sick!! woo hoo.. we ordered three dishes and an appetizer to share between her , my bf, and myself, and we stilll brought food home, and I dont think we spent over $30 bucks for all that food!! it was very good to! i love good cheap food!! Ill be back, they are always friendly."

## Task 8 (Challenge)

Calculate which 10 tokens are the most predictive of **5-star reviews**, and which 10 tokens are the most predictive of **1-star reviews**.

- **Hint:** Naive Bayes automatically counts the number of times each token appears in each class, as well as the number of observations in each class. You can access these counts via the `feature_count_` and `class_count_` attributes of the Naive Bayes model object.

In [40]:
X_train_tokens = vect.get_feature_names()
len(X_train_tokens)

16825

In [42]:
nb.feature_count_.shape

(2, 16825)

In [43]:
one_star_token_count = nb.feature_count_[0, :]
five_star_token_count = nb.feature_count_[1, :]

In [61]:
tokens = pd.DataFrame({'token': X_train_tokens, 'one_star': one_star_token_count, 'five_star': five_star_token_count}).set_index('token')

In [62]:
tokens['one_star'] = tokens.one_star + 1
tokens['five_star'] = tokens.five_star + 1

In [63]:
tokens[3000:3020]

              five_star  one_star
token
cinemark              2         1
cinemas               2         1
cinnamon             16         3
cioppino              2         1
circa                 3         3
circle                7         4
circled               1         2
circles               4         1
circuitous            2         1
circular              2         1
circulation           2         1
circumstance          3         1
circumvent            1         2
circus                2         1
ciroc                 2         1
cisco                 3         1
cited                 3         1
cities               11         4
citing                1         2
citizen               4         1

In [64]:
tokens['one_star'] = tokens.one_star / nb.class_count_[0]
tokens['five_star'] = tokens.five_star / nb.class_count_[1]

In [65]:
tokens['five_star_ratio'] = tokens.five_star / tokens.one_star

In [66]:
tokens.sort('five_star_ratio', ascending=False).head(10)

             five_star  one_star  five_star_ratio
token
fantastic     0.077231  0.003540        21.817727
perfect       0.098039  0.005310        18.464052
yum           0.024810  0.001770        14.017607
favorite      0.138055  0.012389        11.143029
outstanding   0.019608  0.001770        11.078431
brunch        0.016807  0.001770         9.495798
gem           0.016006  0.001770         9.043617
mozzarella    0.015606  0.001770         8.817527
pasty         0.015606  0.001770         8.817527
amazing       0.185274  0.021239         8.723323

## Task 9 (Challenge)

Up to this point, we have framed this as a **binary classification problem** by only considering the 5-star and 1-star reviews. Now, let's repeat the model building process using all reviews, which makes this a **5-class classification problem**.

Here are the steps:

- Define X and y using the original DataFrame. (y should contain 5 different classes.)
- Split X and y into training and testing sets.
- Create document-term matrices using CountVectorizer.
- Calculate the testing accuracy of a Multinomial Naive Bayes model.
- Compare the testing accuracy with the null accuracy, and comment on the results.
- Print the confusion matrix, and comment on the results. (This [Stack Overflow answer](http://stackoverflow.com/a/30748053/1636598) explains how to read a multi-class confusion matrix.)
- Print the [classification report](http://scikit-learn.org/stable/modules/model_evaluation.html#classification-report), and comment on the results. If you are unfamiliar with the terminology it uses, research the terms, and then try to figure out how to calculate these metrics manually from the confusion matrix!

In [67]:
X = data.text
y = data.stars

In [71]:
y.value_counts().sort_index()

1     749
2     927
3    1461
4    3526
5    3337
dtype: int64

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [80]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7500,)
(2500,)
(7500,)
(2500,)

In [81]:
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [82]:
nb.fit(X_train_dtm, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [87]:
y_pred_class = nb.predict(X_test_dtm)

In [88]:
metrics.accuracy_score(y_test, y_pred_class)

0.47120000000000001

In [85]:
y_test.value_counts().head(1) / y_test.shape

4    0.3536
dtype: float64

In [89]:
metrics.confusion_matrix(y_test, y_pred_class)

array([[ 55,  14,  24,  65,  27],
       [ 28,  16,  41, 122,  27],
       [  5,   7,  35, 281,  37],
       [  7,   0,  16, 629, 232],
       [  6,   4,   6, 373, 443]])

In [91]:
print(metrics.classification_report(y_test, y_pred_class))

             precision    recall  f1-score   support

          1       0.54      0.30      0.38       185
          2       0.39      0.07      0.12       234
          3       0.29      0.10      0.14       365
          4       0.43      0.71      0.53       884
          5       0.58      0.53      0.55       832

avg / total       0.46      0.47      0.43      2500