### import sklearn, irish data, panda

In [1]:
from sklearn.datasets import load_iris
import pandas as pd

### Exercise the data

In [2]:
iris = load_iris()

In [3]:
data = iris.data
target = iris.target

In [4]:
data[-10:]

array([[ 6.7,  3.1,  5.6,  2.4],
       [ 6.9,  3.1,  5.1,  2.3],
       [ 5.8,  2.7,  5.1,  1.9],
       [ 6.8,  3.2,  5.9,  2.3],
       [ 6.7,  3.3,  5.7,  2.5],
       [ 6.7,  3. ,  5.2,  2.3],
       [ 6.3,  2.5,  5. ,  1.9],
       [ 6.5,  3. ,  5.2,  2. ],
       [ 6.2,  3.4,  5.4,  2.3],
       [ 5.9,  3. ,  5.1,  1.8]])

In [5]:
target[-10:]

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [7]:
df = pd.DataFrame(data, columns=iris.feature_names)

In [8]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
df['target'] = target

In [11]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [12]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [13]:
df.target.value_counts()

2    50
1    50
0    50
dtype: int64

In [17]:
print df[df['target'] == 0].mean()
print df[df['target'] == 1].mean()
print df[df['target'] == 2].mean()

sepal length (cm)    5.006
sepal width (cm)     3.418
petal length (cm)    1.464
petal width (cm)     0.244
target               0.000
dtype: float64
sepal length (cm)    5.936
sepal width (cm)     2.770
petal length (cm)    4.260
petal width (cm)     1.326
target               1.000
dtype: float64
sepal length (cm)    6.588
sepal width (cm)     2.974
petal length (cm)    5.552
petal width (cm)     2.026
target               2.000
dtype: float64

### import train split test, aplied the train split test

In [18]:
from sklearn.cross_validation import train_test_split

In [24]:
df_data = df[['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']]

In [26]:
df_target = df['target']

In [27]:
X_train, X_test, y_train, y_test = train_test_split(df_data, df_target)

In [28]:
print X_train.shape
print X_test.shape
print y_train.shape
print y_test.shape

(112, 4)
(38, 4)
(112,)
(38,)

### import matplotlib

In [30]:
import matplotlib as plt

In [31]:
%matplotlib

Using matplotlib backend: MacOSX

In [48]:
distribution_trains = pd.DataFrame()

In [50]:
distribution_trains = X_train

In [52]:
distribution_trains['target'] = y_train

/Users/antonifs/.pyenv/versions/1.8-2.7.10/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [54]:
distribution_trains.target.value_counts()

0    43
2    39
1    30
dtype: int64

In [55]:
distribution_test = pd.DataFrame()

In [57]:
distribution_test = X_test

In [58]:
distribution_test['target'] = y_test

/Users/antonifs/.pyenv/versions/1.8-2.7.10/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [59]:
distribution_test

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
74,6.4,2.9,4.3,1.3,1
94,5.6,2.7,4.2,1.3,1
142,5.8,2.7,5.1,1.9,2
83,6.0,2.7,5.1,1.6,1
139,6.9,3.1,5.4,2.1,2
68,6.2,2.2,4.5,1.5,1
39,5.1,3.4,1.5,0.2,0
105,7.6,3.0,6.6,2.1,2
62,6.0,2.2,4.0,1.0,1
84,5.4,3.0,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1
148,6.2,3.4,5.4,2.3,2
53,5.5,2.3,4.0,1.3,1
81,5.5,2.4,3.7,1.0,1
91,6.1,3.0,4.6,1.4,1
69,5.6,2.5,3.9,1.1,1
111,6.4,2.7,5.3,1.9,2
104,6.5,3.0,5.8,2.2,2
98,5.1,2.5,3.0,1.1,1
25,5.0,3.0,1.6,0.2,0
36,5.5,3.5,1.3,0.2,0
47,4.6,3.2,1.4,0.2,0
80,5.5,2.4,3.8,1.1,1
110,6.5,3.2,5.1,2.0,2
107,7.3,2.9,6.3,1.8,2
130,7.4,2.8,6.1,1.9,2
51,6.4,3.2,4.5,1.5,1
59,5.2,2.7,3.9,1.4,1
29,4.7,3.2,1.6,0.2,0
7,5.0,3.4,1.5,0.2,0
64,5.6,2.9,3.6,1.3,1
55,5.7,2.8,4.5,1.3,1
42,4.4,3.2,1.3,0.2,0
96,5.7,2.9,4.2,1.3,1
144,6.7,3.3,5.7,2.5,2
122,7.7,2.8,6.7,2.0,2
93,5.0,2.3,3.3,1.0,1
67,5.8,2.7,4.1,1.0,1

In [65]:
print df.target.value_counts()
print distribution_test.target.value_counts()
print distribution_trains.target.value_counts()

2    50
1    50
0    50
dtype: int64
1    20
2    11
0     7
dtype: int64
0    43
2    39
1    30
dtype: int64

In [70]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

In [71]:
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr',
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0)

In [73]:
y_pred_test = logreg.predict(X_test)

### import sklearn matrix evaluation evaluate

In [75]:
from sklearn import metrics

In [76]:
metrics.accuracy_score(y_test, y_pred_test)

1.0

In [77]:
from sklearn.naive_bayes import MultinomialNB

In [78]:
nb = MultinomialNB()

In [79]:
nb.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [81]:
y_pred = nb.predict(X_test)

In [82]:
metrics.accuracy_score(y_test, y_pred)

0.60526315789473684

### import Decision Tree

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
tree = DecisionTreeClassifier()

In [85]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            random_state=None, splitter='best')

In [87]:
y_pred = tree.predict(X_test)

In [88]:
metrics.accuracy_score(y_test, y_pred)

1.0

In [91]:
X_test[:1]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
74,6.4,2.9,4.3,1.3,1

### decision tree

### Nearest neighborg

### Applied evaluation

### compare evaluation of those algorithm